<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/solat.css">
  <title>Zikir</title>
</head>

<body>
  <div class="h-100 row align-items-center" style="background:#C4E1E7">
    <div class="col text-center">
      <a href="/zikir/aliff"><button class="btn btn-lg btn-info">ALIFF</button></a>

      <div class="container p-1 m-4"></div>

      <a href="/zikir/anis"><button class="btn btn-lg btn-info">ANIS </button></a>
    </div>
  </div>

</body>

</html>