<%- include('partials/header') %>

<div class="container  ">
    <div class="jumbotron  centered">
        <h5>Day 1</h5>
        <p>set 1 = page 42-43 </p>
        <p>set 2 = page 44-45 </p>
        <p>set 3 = page 46-47 </p>
        <p>set 4 = page 48-49 </p>
        <p>set 5 = page 50-51 </p>
        <br>
        <p>set 6 = page 52-53 </p>
        <p>set 7 = page 54-55 </p>
        <p>set 8 = page 56-57 </p>
        <p>set 9 = page 58-59 </p>
        <p>set 10 = page 60-61 </p>
        <br>
        <br>

        <h5>Day 2</h5>
        <p>set 11 = page 62-63 </p>
        <p>set 12 = page 64-65 </p>
        <p>set 13 = page 66-67 </p>
        <p>set 14 = page 68-69 </p>
        <p>set 15 = page 70-71 </p>
        <br>
        <p>set 16 = page 72-73 </p>
        <p>set 17 = page 74-75 </p>
        <p>set 18 = page 76-77 </p>
        <p>set 19 = page 78-79 </p>
        <p>set 20 = page 80-81 </p>
        <br>
        <br>




    </div>
</div>
<%- include('partials/footer') %>