<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <title>Document</title>
</head>

<body>
  <div class="container-fluid">
    <div class="container text-center pagination-centered p-5 ">
      <form action="/questionaire" method="post">
        <div class="border border-info rounded">
          <div class="p-5 pt-5 border">
            <h3>In scale 1 to 5, how familiar you are with meme community</h3>
            <div class="form-check form-check-inline mt-2">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
              <label class="form-check-label" for="inlineRadio1">1 (not)</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
              <label class="form-check-label" for="inlineRadio2">2</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
              <label class="form-check-label" for="inlineRadio1">3</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
              <label class="form-check-label" for="inlineRadio2">4</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
              <label class="form-check-label" for="inlineRadio2">5 (very)</label>
            </div>
          </div>
          <div class="p-5 border">
            <h3>Are recognize this link? (<span>https://www.youtube.com/watch?v=dQw4w9WgXcQ</span>)</h3>

            <br>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions4" id="inlineRadio2" value="option2">
              <label class="form-check-label" for="inlineRadio2">yes</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions4" id="inlineRadio2" value="option2">
              <label class="form-check-label" for="inlineRadio2">no</label>
            </div>
          </div>

          <div class="p-5">
            <h4>have you ever saw this?</h4>
            <img class="img-thumbnail" src="img/rick.png" alt="">

            <div class="mt-3">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions46 id=" inlineRadio2"
                  value="option2">
                <label class="form-check-label" for="inlineRadio2">yes</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions46" id="inlineRadio2"
                  value="option2">
                <label class="form-check-label" for="inlineRadio2">no</label>
              </div>
            </div>
          </div>

          <div class="">
            <button class="btn btn-info mb-5" type="submit">Submit Form</button>
          </div>

        </div>
      </form>
    </div>

  </div>

</body>

</html>