<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/webCV/style.css" rel="stylesheet" type="text/css">

  <title>New Form</title>
</head>

<body>
  <div>


    <div class="container">

      <div>
        <div class="container8">

          <div class="email">
            <h2>We Have Deleted Your Data</h2>
            <a style="color: white;" href="/webCV"><button class="bottom">Home</button></a>
          </div>
          <hr class="hhr">


        </div>
      </div>
    </div>







  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/webCV/jq.js"></script>
  <script src="">

    $(function () {
      var $foo = $("#foo");
      var $bar = $("#bar");
      function onChange() {
        $bar.val($foo.val());
      }
      $("#foo").change(onChange).keyup(onChange);
    });
  </script>
</body>


</html>