<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/webCV/style.css" rel="stylesheet" type="text/css">

  <title>New Form</title>
</head>

<body>
  <div class="cont">
    <form class="cont" action=<%= id %> method="post">
      <div class="container">
        <h2 class="top">Basic Details</h2>
        <div id="basic">
          <div class="email">

            <label>Name</label>
            <input id="name" name="name" type="text">
            <br>
            <label for="">Date of Birth (dd/mm/yyyy)</label>
            <input name="DOB" type="text">
            <br>
            <label for="">Adress</label>
            <input name="adress" type="text">
            <br>
            <label for="">Phone number</label>
            <input name="phone" class="textBox1" type="number">
            <br>
            <label for="">Email</label>
            <input name="email" class="textBox3" type="email">

          </div>
          <hr>

          <div class="container1">
            <h2>Educations</h2>
            <button type="button" class="add_form_field">Add Education &nbsp;
              <span style="font-size:16px; font-weight:bold;">+ </span>
            </button>
            <div class="email">
              <label for="">Year</label>
              <input type="number" name="eduYear1">
              <label for="">Title Name</label>
              <input type="text" name="eduTitle1">
              <label for="">Institution/School Name</label>
              <input type="text" name="eduPlace1">
              <label for="">Details</label>
              <input type="text" name="eduNotes1">

            </div>
            <hr>
          </div>

          <div class="container2">
            <h2>Skills</h2>
            <button type="button" class="add_form_field2">Add Skill &nbsp;
              <span style="font-size:16px; font-weight:bold;">+ </span>
            </button>
            <div class="email">
              <label for="">Skill name</label>
              <input type="text" name="skillName1">
              <label for="">Skill Level (1-100)</label>
              <input type="text" name="skillValue1">
            </div>
            <hr>
          </div>

          <div class="email">
            <h2>Contacts</h2>
            <label for="">phone number</label>
            <input readonly class="textBox2" type="number">
            <label for="">Email</label>
            <input readonly class="textBox4" type="email">
          </div>
        </div>
      </div>


      <label class="switch">
        <p class="slider-label">Experience</p>
        <input onclick=mf("exp") type="checkbox">
        <span class="slider round"></span>
      </label>
      <div class="container">

        <div style="display: none;" id="exp">
          <div class="container3">
            <h2>Experience</h2>
            <button type="button" class="add_form_field3">Add Experience &nbsp;
              <span style="font-size:16px; font-weight:bold;">+ </span>
            </button>
            <div class="email">
              <label for="">Year</label>
              <input type="number" name="expYear1">
              <label for="">Title</label>
              <input type="text" name="expTitle1">
              <label for="">Company Names/ Place</label>
              <input type="text" name="expPlace1">
              <label for="">Details</label>
              <input type="text" name="expDetails1">
            </div>
          </div>
        </div>

      </div>

      <label class="switch">
        <p class="slider-label">Language</p>
        <input onclick=mf("lang") type="checkbox">
        <span class="slider round"></span>
      </label>
      <div class="container">
        <div style="display: none;" id="lang">
          <div class="container4">
            <h2>language</h2>
            <button type="button" class="icon-btn add-btn add_form_field4">
              <div class="add-icon"></div>
              <div class="btn-txt">Add Language &nbsp;</div>
            </button>
            <div class="email">
              <label for="">Language</label>
              <input type="text" name="langName1">
              <label for="">Language level (1-100)</label>
              <input type="text" name="langLevel1">
            </div>
          </div>
        </div>
      </div>

      <label class="switch">
        <p class="slider-label">Portfolio</p>
        <input onclick=mf("port") type="checkbox">
        <span class="slider round"></span>
      </label>

      <div class="container">
        <div style="display: none;" id="port">
          <div class="container5">
            <h2>Portfolio</h2>
            <button type="button" class="add_form_field5">Add New Portfolio &nbsp;
              <span style="font-size:16px; font-weight:bold;">+ </span>
            </button>
            <div class="email">
              <label for="">Portfolio Name</label>
              <input type="text" name="portName1">
              <label for="">Details</label>
              <input type="text" name="portDetail1">
              <label for="">Link</label>
              <input type="text" name="portRef1">
            </div>
          </div>
        </div>
      </div>


      <label class="switch">
        <p class="slider-label">Awards</p>
        <input onclick=mf("awards") type="checkbox">
        <span class="slider round"></span>
      </label>
      <div class="container">

        <div style="display: none;" id="awards">
          <div class="container6">
            <h2>Awards</h2>
            <button type="button" class="add_form_field6">Add New Field &nbsp;
              <span style="font-size:16px; font-weight:bold;">+ </span>
            </button>

            <div class="email">
              <label for="">Year</label>
              <input type="text" name="awardYear1">
              <label for="">Name</label>
              <input type="text" name="awardName1">
              <label for="">Details</label>
              <input type="text" name="awardDetail1">
            </div>
          </div>
        </div>
      </div>


      <label class="switch">
        <p class="slider-label">Social</p>
        <input onclick=mf("link") type="checkbox">
        <span class="slider round"></span>
      </label>
      <div class="container">

        <div style="display: none;" id="link">
          <div class="email">
            <label for="">Facebook</label>
            <input name="fb" type="text"><br>
            <label for="">Twitter</label>
            <input name="twitter" type="text"><br>
            <label for="">Instagram</label>
            <input name="insta" type="text"><br>
            <label for="">LinkedIn</label>
            <input name="linkedin" type="text"><br>
            <label for="">Github</label>
            <input name="github" type="text"><br>
          </div>
        </div>
      </div>


      <label class="switch">
        <p class="slider-label">Hobby</p>
        <input onclick=mf("hobby") type="checkbox">
        <span class="slider round"></span>
      </label>
      <div class="container">

        <div style="display: none;" id="hobby">
          <div class="container7">
            <h2>Hobby</h2>
            <button type="button" class="add_form_field7"> Add Hobby &nbsp;
              <span style="font-size:16px; font-weight:bold;">+ </span>
            </button>

            <div class="email">
              <label for="">Hobby</label>
              <input type="text" name="hobby1">
            </div>
          </div>
        </div>
      </div>


      <label class="switch">

        <p class="slider-label">References</p>
        <input onclick=mf("ref") type="checkbox">
        <span class="slider round"></span>
      </label>
      <div class="container">

        <div style="display: none;" id="ref">
          <div class="container8">
            <h2>References</h2>
            <button type="button" class="add_form_field8">Add References &nbsp;
              <span style="font-size:16px; font-weight:bold;">+ </span>
            </button>

            <div class="email">
              <label for="">Name</label>
              <input type="text" name="refName1">
              <label for="">Title</label>
              <input type="text" name="refTitle1">
              <label for="">Phone Number</label>
              <input type="text" name="refPhone1">
              <label for="">Email</label>
              <input type="text" name="refEmail1">
              <label for="">Relationship/details</label>
              <input type="text" name="refDetail1">
            </div>
          </div>
        </div>
      </div>
      <button class="bottom" type="submit">Submit</button>
    </form>




  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/webCV/jq.js"></script>
  <script src="">

    $(function () {
      var $foo = $("#foo");
      var $bar = $("#bar");
      function onChange() {
        $bar.val($foo.val());
      }
      $("#foo").change(onChange).keyup(onChange);
    });
  </script>
</body>


</html>