<%- include('partials/header') %>

<div class="container  ">
    <div class="jumbotron  centered">
        <h5>Day 3</h5>
        <p>set 21 = page 42-43 </p>
        <p>set 22 = page 44-45 </p>
        <p>set 23 = page 46-47 </p>
        <p>set 24 = page 48-49 </p>
        <p>set 25 = page 50-51 </p>
        <br>
        <p>set 26 = page 52-53 </p>
        <p>set 27 = page 54-55 </p>
        <p>set 28 = page 56-57 </p>
        <p>set 29 = page 58-59 </p>
        <p>set 30 = page 60-61 </p>
        <br>
        <br>

        <h5>Day 4</h5>
        <p>set 31 = page 62-63 </p>
        <p>set 32 = page 64-65 </p>
        <p>set 33 = page 66-67 </p>
        <p>set 34 = page 68-69 </p>
        <p>set 35 = page 70-71 </p>
        <br>
        <p>set 36 = page 72-73 </p>
        <p>set 37 = page 74-75 </p>
        <p>set 38 = page 76-77 </p>
        <p>set 39 = page 78-79 </p>
        <p>set 40 = page 80-81 </p>
        <br>
        <br>
        <h5>Day 5</h5>
        <p>set 41 = page 82-83 </p>
        <p>set 42 = page 84-85 </p>
        <p>set 43 = page 86-87 </p>
        <p>set 44 = page 88-89 </p>
        <p>set 45 = page 90-91 </p>
        <br>
        <p>set 46 = page 92-93 </p>
        <p>set 47 = page 94-95 </p>
        <p>set 48 = page 96-97 </p>
        <p>set 49 = page 98-99 </p>
        <p>set 50 = page 100-101 </p>
        <br>
        <br>

        <h5>Day 6</h5>
        <p>set 51 = page 102-103 </p>
        <p>set 52 = page 104-105 </p>
        <p>set 53 = page 106-107 </p>
        <p>set 54 = page 108-109 </p>
        <p>set 55 = page 110-111 </p>
        <br>
        <p>set 56 = page 112-113 </p>
        <p>set 57 = page 114-115 </p>
        <p>set 58 = page 116-117 </p>
        <p>set 59 = page 118-119 </p>
        <p>set 60 = page 120-121 </p>
        <br>
        <br>

        <h5>Day 7</h5>
        <p>set 61 = page 122-123 </p>
        <p>set 62 = page 124-125 </p>
        <p>set 63 = page 126-127 </p>
        <p>set 64 = page 128-129 </p>
        <p>set 65 = page 130-131 </p>
        <br>
        <p>set 66 = page 132-133 </p>
        <p>set 67 = page 134-135 </p>
        <p>set 68 = page 136-137 </p>
        <p>set 69 = page 138-139 </p>
        <p>set 70 = page 140-141 </p>
        <br>
        <br>

        <h5>Day 8</h5>
        <p>set 71 = page 142-143 </p>
        <p>set 72 = page 144-145 </p>
        <p>set 73 = page 146-147 </p>
        <p>set 74 = page 148-149 </p>
        <p>set 75 = page 150-151 </p>
        <br>
        <p>set 76 = page 152-153 </p>
        <p>set 77 = page 154-155 </p>
        <p>set 78 = page 156-157 </p>
        <p>set 79 = page 158-159 </p>
        <p>set 80 = page 160-161 </p>
        <br>
        <br>

        <h5>Day 9</h5>
        <p>set 81 = page 162-163 </p>
        <p>set 82 = page 164-165 </p>
        <p>set 83 = page 166-167 </p>
        <p>set 84 = page 168-169 </p>
        <p>set 85 = page 170-171 </p>
        <br>
        <p>set 86 = page 172-173 </p>
        <p>set 87 = page 174-175 </p>
        <p>set 88 = page 176-177 </p>
        <p>set 89 = page 178-179 </p>
        <p>set 90 = page 180-181 </p>
        <br>
        <br>

        <h5>Day 10</h5>
        <p>set 91 = page 182-183 </p>
        <p>set 92 = page 184-185 </p>
        <p>set 93 = page 186-187 </p>
        <p>set 94 = page 188-189 </p>
        <p>set 95 = page 190-191 </p>
        <br>
        <p>set 96 = page 192-193 </p>
        <p>set 97 = page 194-195 </p>
        <p>set 98 = page 196-197 </p>
        <p>set 99 = page 198-199 </p>
        <p>set 100 = page 200-201 </p>
        <br>
        <br>

        <h5>Day 11</h5>
        <p>set 101 = page 202-203 </p>
        <p>set 102 = page 204-205 </p>
        <p>set 103 = page 206-207 </p>
        <p>set 104 = page 208-209 </p>
        <p>set 105 = page 210-211 </p>
        <br>
        <p>set 106 = page 212-213 </p>
        <p>set 107 = page 214-215 </p>
        <p>set 108 = page 216-217 </p>
        <p>set 109 = page 218-219 </p>
        <p>set 110 = page 220-221 </p>
        <br>
        <br>

        <h5>Day 12</h5>
        <p>set 111 = page 222-223 </p>
        <p>set 112 = page 224-225 </p>
        <p>set 113 = page 226-227 </p>
        <p>set 114 = page 228-229 </p>
        <p>set 115 = page 230-231 </p>
        <br>
        <p>set 116 = page 232-233 </p>
        <p>set 117 = page 234-235 </p>
        <p>set 118 = page 236-237 </p>
        <p>set 119 = page 238-239 </p>
        <p>set 120 = page 240-241 </p>
        <br>
        <br>

        <h5>Day 13</h5>
        <p>set 121 = page 242-243 </p>
        <p>set 122 = page 244-245 </p>
        <p>set 123 = page 246-247 </p>
        <p>set 124 = page 248-249 </p>
        <p>set 125 = page 250-251 </p>
        <br>
        <p>set 126 = page 252-253 </p>
        <p>set 127 = page 254-255 </p>
        <p>set 128 = page 256-257 </p>
        <p>set 129 = page 258-259 </p>
        <p>set 130 = page 260-261 </p>
        <br>
        <br>

        <h5>Day 14</h5>
        <p>set 131 = page 262-263 </p>
        <p>set 132 = page 264-265 </p>
        <p>set 133 = page 266-267 </p>
        <p>set 134 = page 268-269 </p>
        <p>set 135 = page 270-271 </p>
        <br>
        <p>set 136 = page 272-273 </p>
        <p>set 137 = page 274-275 </p>
        <p>set 138 = page 276-277 </p>
        <p>set 139 = page 278-279 </p>
        <p>set 140 = page 280-281 </p>
        <br>
        <br>

        <h5>Day 15</h5>
        <p>set 141 = page 282-283 </p>
        <p>set 142 = page 284-285 </p>
        <p>set 143 = page 286-287 </p>
        <p>set 144 = page 288-289 </p>
        <p>set 145 = page 290-291 </p>
        <br>
        <p>set 146 = page 292-293 </p>
        <p>set 147 = page 294-295 </p>
        <p>set 148 = page 296-297 </p>
        <p>set 149 = page 298-299 </p>
        <p>set 150 = page 300-301 </p>
        <br>
        <br>

        <h5>Day 16</h5>
        <p>set 151 = page 302-303 </p>
        <p>set 152 = page 304-305 </p>
        <p>set 153 = page 306-307 </p>
        <p>set 154 = page 308-309 </p>
        <p>set 155 = page 310-311 </p>
        <br>
        <p>set 156 = page 312-313 </p>
        <p>set 157 = page 314-315 </p>
        <p>set 158 = page 316-317 </p>
        <p>set 159 = page 318-319 </p>
        <p>set 160 = page 320-321 </p>
        <br>
        <br>

        <h5>Day 17</h5>
        <p>set 161 = page 322-323 </p>
        <p>set 162 = page 324-325 </p>
        <p>set 163 = page 326-327 </p>
        <p>set 164 = page 328-329 </p>
        <p>set 165 = page 330-331 </p>
        <br>
        <p>set 166 = page 332-333 </p>
        <p>set 167 = page 334-335 </p>
        <p>set 168 = page 336-337 </p>
        <p>set 169 = page 338-339 </p>
        <p>set 170 = page 340-341 </p>
        <br>
        <br>

        <h5>Day 18</h5>
        <p>set 171 = page 342-343 </p>
        <p>set 172 = page 344-345 </p>
        <p>set 173 = page 346-347 </p>
        <p>set 174 = page 348-349 </p>
        <p>set 175 = page 350-351 </p>
        <br>
        <p>set 176 = page 352-353 </p>
        <p>set 177 = page 354-355 </p>
        <p>set 178 = page 356-357 </p>
        <p>set 179 = page 358-359 </p>
        <p>set 180 = page 360-361 </p>
        <br>
        <br>

        <h5>Day 19</h5>
        <p>set 181 = page 362-363 </p>
        <p>set 182 = page 364-365 </p>
        <p>set 183 = page 366-367 </p>
        <p>set 184 = page 368-369 </p>
        <p>set 185 = page 370-371 </p>
        <br>
        <p>set 186 = page 372-373 </p>
        <p>set 187 = page 374-375 </p>
        <p>set 188 = page 376-377 </p>
        <p>set 189 = page 378-379 </p>
        <p>set 190 = page 380-381 </p>
        <br>
        <br>
        <h5>Day 20</h5>
        <p>set 191 = page 382-383 </p>
        <p>set 192 = page 384-385 </p>
        <p>set 193 = page 386-387 </p>
        <p>set 194 = page 388-389 </p>
        <p>set 195 = page 390-391 </p>
        <br>
        <p>set 196 = page 392-393 </p>
        <p>set 197 = page 394-395 </p>
        <p>set 198 = page 396-397 </p>
        <p>set 199 = page 398-399 </p>
        <p>set 200 = page 400-401 </p>
        <br>
        <br>

        <h5>Day 21</h5>
        <p>set 201 = page 402-403 </p>
        <p>set 202 = page 404-405 </p>
        <p>set 203 = page 406-407 </p>
        <p>set 204 = page 408-409 </p>
        <p>set 205 = page 410-411 </p>
        <br>
        <p>set 206 = page 412-413 </p>
        <p>set 207 = page 414-415 </p>
        <p>set 208 = page 416-417 </p>
        <p>set 209 = page 418-419 </p>
        <p>set 210 = page 420-421 </p>
        <br>
        <br>

        <h5>Day 22</h5>
        <p>set 211 = page 422-423 </p>
        <p>set 212 = page 424-425 </p>
        <p>set 213 = page 426-427 </p>
        <p>set 214 = page 428-429 </p>
        <p>set 215 = page 430-431 </p>
        <br>
        <p>set 216 = page 432-433 </p>
        <p>set 217 = page 434-435 </p>
        <p>set 218 = page 436-437 </p>
        <p>set 219 = page 438-439 </p>
        <p>set 220 = page 440-441 </p>
        <br>
        <br>

        <h5>Day 23</h5>
        <p>set 221 = page 442-443 </p>
        <p>set 222 = page 444-445 </p>
        <p>set 223 = page 446-447 </p>
        <p>set 224 = page 448-449 </p>
        <p>set 225 = page 450-451 </p>
        <br>
        <p>set 226 = page 452-453 </p>
        <p>set 227 = page 454-455 </p>
        <p>set 228 = page 456-457 </p>
        <p>set 229 = page 458-459 </p>
        <p>set 230 = page 460-461 </p>
        <br>
        <br>

        <h5>Day 24</h5>
        <p>set 231 = page 462-463 </p>
        <p>set 232 = page 464-465 </p>
        <p>set 233 = page 466-467 </p>
        <p>set 324 = page 468-469 </p>
        <p>set 235 = page 470-471 </p>
        <br>
        <p>set 236 = page 472-473 </p>
        <p>set 237 = page 474-475 </p>
        <p>set 238 = page 476-477 </p>
        <p>set 239 = page 478-479 </p>
        <p>set 240 = page 480-481 </p>
        <br>
        <br>

        <h5>Day 25</h5>
        <p>set 241 = page 482-483 </p>
        <p>set 242 = page 484-485 </p>
        <p>set 243 = page 486-487 </p>
        <p>set 244 = page 488-489 </p>
        <p>set 245 = page 490-491 </p>
        <br>
        <p>set 246 = page 492-493 </p>
        <p>set 247 = page 494-495 </p>
        <p>set 248 = page 496-497 </p>
        <p>set 249 = page 498-499 </p>
        <p>set 250 = page 500-501 </p>
        <br>
        <br>

        <h5>Day 26</h5>
        <p>set 251 = page 502-303 </p>
        <p>set 252 = page 504-305 </p>
        <p>set 253 = page 506-307 </p>
        <p>set 254 = page 508-309 </p>
        <p>set 255 = page 510-311 </p>
        <br>
        <p>set 256 = page 512-313 </p>
        <p>set 257 = page 514-315 </p>
        <p>set 258 = page 516-317 </p>
        <p>set 259 = page 518-319 </p>
        <p>set 260 = page 520-321 </p>
        <br>
        <br>

        <h5>Day 27</h5>
        <p>set 261 = page 522-323 </p>
        <p>set 262 = page 524-325 </p>
        <p>set 263 = page 526-327 </p>
        <p>set 264 = page 528-329 </p>
        <p>set 265 = page 530-331 </p>
        <br>
        <p>set 266 = page 532-333 </p>
        <p>set 267 = page 534-335 </p>
        <p>set 268 = page 536-337 </p>
        <p>set 269 = page 538-339 </p>
        <p>set 270 = page 540-341 </p>
        <br>
        <br>

        <h5>Day 28</h5>
        <p>set 271 = page 542-543 </p>
        <p>set 272 = page 544-545 </p>
        <p>set 273 = page 546-547 </p>
        <p>set 274 = page 548-549 </p>
        <p>set 275 = page 550-551 </p>
        <br>
        <p>set 276 = page 552-553 </p>
        <p>set 277 = page 554-555 </p>
        <p>set 278 = page 556-557 </p>
        <p>set 279 = page 558-559 </p>
        <p>set 280 = page 560-561 </p>
        <br>
        <br>

        <h5>Day 29</h5>
        <p>set 281 = page 562-563 </p>
        <p>set 282 = page 564-565 </p>
        <p>set 283 = page 566-567 </p>
        <p>set 284 = page 568-569 </p>
        <p>set 285 = page 570-571 </p>
        <br>
        <p>set 286 = page 572-573 </p>
        <p>set 287 = page 574-575 </p>
        <p>set 288 = page 576-577 </p>
        <p>set 289 = page 578-579 </p>
        <p>set 290 = page 580-581 </p>
        <br>
        <br>
        <h5>Day 30</h5>
        <p>set 291 = page 582-583 </p>
        <p>set 292 = page 584-585 </p>
        <p>set 293 = page 586-587 </p>
        <p>set 294 = page 588-589 </p>
        <p>set 295 = page 590-591 </p>
        <br>
        <p>set 296 = page 592-593 </p>
        <p>set 297 = page 594-595 </p>
        <p>set 298 = page 596-597 </p>
        <p>set 299 = page 598-599 </p>
        <p>set 300 = page 600-600++ </p>
        <br>
        <br>


    </div>
</div>
<%- include('partials/footer') %>